<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{autor.name}}</h1>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Num of pages</th>
            </tr>
        </thead>
        <tbody>
            {% for i in autor.favorite_books %}
            <tr>
                <td>{{i.title}}</td>
                <td>{{i.num_of_pages}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form action="/join/book" method="post">
        <h2>Add author's favorite</h2>
        <input type="hidden" name="id_autor" value="{{autor.id}}">
        <select name="id_libro" id="">
            {% for i in libros_no_favoritos %}
                <option value="{{i.id}}">{{i.title}}</option>
            {% endfor %}
        </select>
        <button>Agregar</button>
    </form>
</body>
</html>