<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{autor.name}}</h1>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Num of pages</th>
            </tr>
        </thead>
        <tbody>
            {% for book in libros_no_favoritos %}
            <tr>
                <td>{{book.id}}</td>
                <td>{{book.title}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form action="">
        <h2>Add author's favorite</h2>
        <select name="" id="">
            {% for i in libros_no_favoritos %}
                <option value="{{i.id}}">{{i.title}}</option>
            {% endfor %}
        </select>
    </form>
</body>
</html>